In [82]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

In [83]:
# URL da página da Wikipedia
url = 'https://pt.wikipedia.org/wiki/Liga_dos_Campe%C3%B5es_da_UEFA'

In [84]:
# Obtenha o conteúdo da página
r = requests.get(url)
html_content = response.text

In [85]:
# Parseie o conteúdo HTML usando Beautiful Soup
soup = BeautifulSoup(html_content, "html.parser")

In [86]:
# Encontre o elemento HTML que representa a tabela desejada
table = soup.find("table", {"class": "wikitable sortable"})

In [87]:
# Inicialize uma lista para armazenar os dados da tabela
table_data = []

In [88]:
# Encontre todas as linhas (<tr>) na tabela
rows = table.find_all("tr")

In [89]:
# Itere sobre as linhas da tabela
for row in rows:
    # Inicialize uma lista para armazenar os dados de uma linha
    row_data = []
    
    # Encontre todas as células (<th> ou <td>) na linha
    cells = row.find_all(["th", "td"])
    
    # Itere sobre as células da linha
    for cell in cells:
        # Extraia o texto da célula e adicione à lista de dados da linha
        row_data.append(cell.get_text(strip=True))
    
    # Adicione os dados da linha à lista de dados da tabela
    table_data.append(row_data)

In [110]:
# Crie um DataFrame do Pandas com os dados da tabela
df = pd.DataFrame(table_data[1:], columns=table_data[0][:3])

display(df)

,Clubes,Títulos,Vices
0,Real Madrid,"14 (1955–56,1956–57,1957–58,1958–59,1959–60,19...","3 (1961–62, 1963–64 e 1980–81)"
1,Milan,"7 (1962–63,1968–69,1988–89,1989–90,1993–94,200...","4 (1957–58, 1992–93, 1994–95 e 2004–05)"
2,Bayern de Munique,"6 (1973–74,1974–75,1975–76,2000–01,2012–13e201...","5 (1981–82, 1986–87, 1998–99, 2009–10 e 2011–12)"
3,Liverpool,"6 (1976–77,1977–78,1980–81,1983–84,2004–05e201...","4 (1984–85, 2006–07, 2017–18 e 2021–22)"
4,Barcelona,"5 (1991–92,2005–06,2008–09,2010–11e2014–15)","3 (1960–61, 1985–86 e 1993–94)"
5,Ajax,"4 (1970–71,1971–72,1972–73e1994–95)",2 (1968–69 e 1995–96)
6,Internazionale,"3 (1963–64,1964–65e2009–10)","3 (1966–67, 1971–72 e 2022–23)"
7,Manchester United,"3 (1967–68,1998–99e2007–08)",2 (2008–09 e 2010–11)
8,Juventus,2 (1984–85e1995–96),"7 (1972–73, 1982–83, 1996–97, 1997–98, 2002–03..."
9,Benfica,2 (1960–61e1961–62),"5 (1962–63, 1964–65, 1967–68, 1987–88 e 1989–90)"
10,Chelsea,2 (2011–12e2020–21),1 (2007–08)
11,Nottingham Forest,2 (1978–79e1979–80),0
12,Porto,2 (1986–87e2003–04),0
13,Celtic,1 (1966–67),1 (1969–70)
14,Hamburgo,1 (1982–83),1 (1979–80)
15,Steaua Bucareste,1 (1985–86),1 (1988–89)
16,Olympique de Marseille,1 (1992–93),1 (1990–91)
17,Borussia Dortmund,1 (1996–97),1 (2012–13)
18,Manchester City,1 (2022–23),1 (2020–21)
19,Feyenoord,1 (1969–70),0
20,Aston Villa,1 (1981–82),0
21,PSV Eindhoven,1 (1987–88),0
22,Estrela Vermelha,1 (1990–91),0
23,Atlético de Madrid,0,"3 (1973–74, 2013–14 e 2015–16)"
24,Stade de Reims,0,2 (1955–56 e 1958–59)
25,Valencia,0,2 (1999–00 e 2000–01)
26,Fiorentina,0,1 (1956–57)
27,Eintracht Frankfurt,0,1 (1959–60)
28,Partizan,0,1 (1965–66)
29,Panathinaikos,0,1 (1970–71)
30,Leeds United,0,1 (1974–75)
31,Saint Etienne,0,1 (1975–76)
32,Borussia Mönchengladbach,0,1 (1976–77)
33,Brugge,0,1 (1977–78)
34,Malmö,0,1 (1978–79)
35,Roma,0,1 (1983–84)
36,Sampdoria,0,1 (1991–92)
37,Bayer Leverkusen,0,1 (2001–02)
38,Monaco,0,1 (2003–04)
39,Arsenal,0,1 (2005–06)
40,Tottenham,0,1 (2018–19)
41,Paris Saint-Germain,0,1 (2019–20)

[]